body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; 
    color: #e0e0e0;
}
.section{
  display: flex;
  flex-direction: column;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #121212;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-size: 18px; 
}

.social-link:hover {
    background-color: #333;
    color: #fff;
}

.bi-instagram {
    color: #fff;
}

.bi-envelope {
    color: #fff;
}

.bi-github {
    color: #fff;
}

.bi-linkedin {
    color: #fff;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    height: 100vh;          
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.profile img{
    width: 200px;
    border-radius: 50%;
}
.navbar {
    background-color: #121212;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.toggle-menu {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #f4a261;
}
.container2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    height: 60vh;
    gap: 10px;
}
.card{
    cursor: pointer;
    position: relative;
    padding: 0 20px;
    width: 40%;
    background: rgb(40, 40, 45);
    border-radius: 10px;
    border: 1px solid rgb(40, 40, 45);
}

@media (max-width: 768px) {
    .card {
     width: 60%;
     font-size: 12px
   }
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #121212;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 10px 0;
        text-align: center;
    }

    .toggle-menu {
        display: block;
    }
}
