body {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  font-family: "Courier New", monospace;
  margin: 0;
  background-color: #000;
  color: #00ff00;
  min-height: 100vh;
  align-items: center;
}

.sidebar {
  width: 100%;
  height: auto;
  background-color: #111;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid #00ff00;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.sidebar a {
  color: #00ff00;
  padding: 8px;
  text-decoration: none;
  font-size: 17px;
}

.sidebar a:hover {
  background-color: #222;
}

.content {
  margin-top: 70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  max-width: 700px; 
}

.title {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid #00ff00;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.avatar {
  width: 200px;
}

.btn1 {
  padding: 18px;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 10px;
  color: #00ff00;
  background-color: #000;
  border-color: #00ff00;
}

a {
  font-size: 18px;
  color: #00ff00;
}
